
.menu-link {
  display: inline-block; 
  text-decoration: none;
  color: #333;
  font-size: 18px;
  transition: transform 0.3s ease, opacity 0.3s ease; 
}
.menu-link:hover{
    opacity: 0.4;
    
}

.parrafo-central{
    max-width: 700px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom:30px;
    padding:10px;
}

.icono:hover{
    transform: scale(1.1);
}